* {
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
.lt_container {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    height: 100%;
    padding-top: 45px;
    padding-bottom: 55px;
}

.lt_header {
    height: 45px;
    background-color: #006699;
    position: relative;
    padding: 0 45px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
}

.lt_header .h-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    text-align: center;
}

.lt_header .h-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    text-align: center;
}
.lt_header .h-left span,
.lt_header .h-right span {
    color: #fff;
    font-size: 17px;
    line-height: 45px;
}
.lt_header .h-title {
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.lt_footer {
    height: 55px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    background-color: #006699;
}
.lt_footer ul li {
    list-style: none;
    width: 25%;
    float: left;
    text-align: center;
}
.lt_footer ul li a {
    display: block;
    height: 55px;
    padding-top: 8px;
}
.lt_footer ul a span,
.lt_footer ul a p {
    color: #fff;
}

.lt_footer ul a.current span,
.lt_footer ul a.current p {
    color: #CEA00E;
}

.lt_main {
    height: 100%;
    position: relative;
    background-color: #fff;
}
